.gall_fig {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid goldenrod;
  div {
    display: flex;
    justify-content: center;
  }
}

.gall_img {
  width: 80%;
  height: auto;
  margin: 0.25em;
}

@media only screen and (max-width: 2280px) {
  .gall_fig {
    margin: 1em;
    padding: 0.5em;
    border: 2px solid goldenrod;
    div {
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 12px;
    }
  }

  .gall_img {
    width: 60%;
    height: auto;
    margin: 0.2em;
  }
}
